In [1]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from utils import clean_df
import utils
import config as cfg

## Read in Data

In [2]:
# list all data files
print(os.listdir("data/"))

['jiebao_all_user_processed.csv', '口碑 路虎 总.xlsx', 'luhu_comments.xlsx', '路虎口碑所有用户.xlsx', '.DS_Store', '路虎口碑用户.xlsx', '路虎车商城.xlsx', 'luhu_koubei_user.xlsx', '路虎口碑用户-1.xlsx', '捷豹车商城.xlsx', '路虎口碑评论人.xlsx', '~$捷豹口碑用户.xlsx', '捷豹口碑用户.xlsx', '路虎帖子评论人.xlsx', 'luhu_comment_user.xlsx', '口碑 捷豹 评论.xlsx', 'jiebao_user_koubei.xlsx', 'luhu_all_user_0.xlsx', '.ipynb_checkpoints', '路虎口碑评论人-1.xlsx', 'jiebao_all_user_0.xlsx', 'jiebao_all_user_processed.xlsx', '捷豹口碑评论人.xlsx', '口碑 路虎 评论.xlsx', '~$路虎口碑所有用户.xlsx', '口碑 捷豹 总 252.xlsx', 'luhu_all_user_1.xlsx']

In [3]:
# customer parser
def json_parser(data):
    import json
    j1 = json.loads(data)
    return j1

## 路虎口碑发帖人

In [4]:
# read user table to dataframe

table_path = "data/路虎口碑用户.xlsx"
user_koubei_luhu = pd.read_excel(table_path)

col_names = user_koubei_luhu.keys()

# print(user_koubei_luhu.dtypes)
print(user_koubei_luhu.shape)
user_koubei_luhu.head(2)

(495, 614)

,用户名,关注,粉丝,性别,生日,所在地,等级,帖子数,关注的车or爱车,注册时间,...,Unnamed: 604,Unnamed: 605,Unnamed: 606,Unnamed: 607,Unnamed: 608,Unnamed: 609,Unnamed: 610,Unnamed: 611,Unnamed: 612,Unnamed: 613
0,yryihgddsg,0,1,man,NaN,浙江 杭州,1,0篇精华帖/0篇帖子,关注的车：驭胜S330,2017-11-08 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,淡淡可,2,1,man,NaN,山东 济宁,1,0篇精华帖/0篇帖子,关注的车：博越,2017-11-10 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#### -> column number larger than the real one(17)

# column names
print(col_names[:20])
print(col_names[20:40])

Index(['用户名', '关注', '粉丝', '性别', '生日', '所在地', '等级', '帖子数', '关注的车or爱车', '注册时间',
       '身份', '里程值', '帖子', '他的车库', '他的口碑', '他的油耗', '他的车友会', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')
Index(['Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')

### clean data

In [6]:
# => find rows which have more columns than is should have
# df[df['A'].isnull()].index.tolist()
indexs_notnull_col17 = user_koubei_luhu[user_koubei_luhu['Unnamed: 17'].notnull()].index.tolist()
indexs_notnull_col17

# remove wrong rows
print(user_koubei_luhu.shape)
user_koubei_luhu = user_koubei_luhu.copy()

user_koubei_luhu.drop(indexs_notnull_col17,inplace=True)
print(user_koubei_luhu.shape)

utils.clean_df(user_koubei_luhu)

(495, 614)
(491, 614)
Original shape:  (491, 614)
After removing duplication:  (478, 614)
After removing empty rows:  (477, 614)
After removing empty cols:  (477, 17)

In [7]:
# label by 1 the data of user in luhu_koubei
user_koubei_luhu['label']=1

# save new  table
user_koubei_luhu.to_excel('data/luhu_koubei_user.xlsx')

# count missing value
print("\n\nColumn","MissingCount")
user_koubei_luhu.isnull().sum()

Column MissingCount

用户名           0
关注            0
粉丝            0
性别            0
生日          341
所在地           0
等级            0
帖子数           0
关注的车or爱车      0
注册时间          0
身份            0
里程值           0
帖子          130
他的车库        189
他的口碑          4
他的油耗        423
他的车友会       411
label         0
dtype: int64

## 路虎口碑评论人

In [8]:
# read user table to dataframe
table_path = "data/路虎口碑评论人.xlsx"
visitor_koubei_luhu = pd.read_excel(table_path)

print(visitor_koubei_luhu.dtypes)
print(visitor_koubei_luhu.shape)

visitor_koubei_luhu.head(2)

用户名                 object
关注                   int64
粉丝                   int64
性别                  object
生日          datetime64[ns]
所在地                 object
等级                   int64
帖子数                 object
关注的车or爱车            object
注册时间        datetime64[ns]
身份                  object
里程值                  int64
帖子                  object
他的车库                object
他的口碑                object
他的油耗                object
他的车友会               object
dtype: object
(2827, 17)

,用户名,关注,粉丝,性别,生日,所在地,等级,帖子数,关注的车or爱车,注册时间,身份,里程值,帖子,他的车库,他的口碑,他的油耗,他的车友会
0,屿鹿几立,2,1,man,NaT,福建 龙岩,1,0篇精华帖/1篇帖子,关注的车：领克01,2018-03-30,普通用户,900,"[{'标题': '15年揽胜极光', 'url': '//club.autohome.com...",[],[],[],[]
1,我是小磊呀,4,3,man,NaT,江苏 苏州,1,0篇精华帖/2篇帖子,关注的车：骐达,2016-07-19,普通用户,820,"[{'标题': '求江苏这边1.8豪华cc落地价？？？', 'url': '//club.a...",[],[],[],[]

#### cleaning data

In [9]:
clean_df(visitor_koubei_luhu)

Original shape:  (2827, 17)
After removing duplication:  (2097, 17)
After removing empty rows:  (2097, 17)
After removing empty cols:  (2097, 17)

#### add label and save the data to excel

In [10]:
# label by 0 the data of user in comment party
visitor_koubei_luhu['label'] = 0

# saving data
visitor_koubei_luhu.to_excel("data/luhu_comment_user.xlsx")

print(visitor_koubei_luhu.shape)
# count missing value
print("\n\nColumn","MissingCount")
visitor_koubei_luhu.isnull().sum()

(2097, 18)


Column MissingCount

用户名            0
关注             0
粉丝             0
性别             0
生日          1826
所在地            0
等级             0
帖子数            0
关注的车or爱车       0
注册时间           0
身份             0
里程值            0
帖子          1597
他的车库        1473
他的口碑        1678
他的油耗        1971
他的车友会       1787
label          0
dtype: int64

### Merge two table

In [11]:
print("user_koubei_luhu.shape: ", user_koubei_luhu.shape)
print("visitor_koubei_luhu.shape: ",visitor_koubei_luhu.shape)
# merge dataframe
merge_df = user_koubei_luhu.append(visitor_koubei_luhu)
merge_df.shape

user_koubei_luhu.shape:  (477, 18)
visitor_koubei_luhu.shape:  (2097, 18)

(2574, 18)

In [12]:
# delete duplicate rows
merge_df = merge_df.drop_duplicates()
merge_df.shape

(2574, 18)

In [13]:
# reset index
merge_df_1 = merge_df.reset_index(drop=True)
cols = merge_df_1.keys()
merge_df_1.isnull().sum()

用户名            0
关注             0
粉丝             0
性别             0
生日          2167
所在地            0
等级             0
帖子数            0
关注的车or爱车       0
注册时间           0
身份             0
里程值            0
帖子          1727
他的车库        1662
他的口碑        1682
他的油耗        2394
他的车友会       2198
label          0
dtype: int64

In [14]:
new_columns = cfg._C.user_COLUMNS
print(len(new_columns))
new_columns

18

['user_id',
 'follow_count',
 'fans_count',
 'gender',
 'birthday',
 'location',
 'level',
 'post_count',
 'car_liked',
 'registration_time',
 'properties',
 'mileage',
 'post',
 'cars',
 'koubei_post',
 'gas_mileage',
 'car_friend_zone',
 'label']

In [15]:
# save  table 
merge_df_1.columns = new_columns
merge_df_1.to_excel("data/luhu_all_user_0.xlsx",encoding='utf-8')

### feature extraction

### “关注的车”

In [17]:
merge_df = pd.read_excel("data/luhu_all_user_0.xlsx")
# create new column post_count, excellent_post_count
# define extraction function

from utils import extract_car_info
merge_df["car_like"] = merge_df.apply(lambda row:extract_car_info(row),axis=1)
merge_df.drop(columns='car_liked', inplace=True)
merge_df["car_like"][:5]

0    驭胜S330
1        博越
2       奥德赛
3    驭胜S330
4      揽胜极光
Name: car_like, dtype: object

In [18]:
print(merge_df.shape)
merge_df.head(2)

(2574, 18)

,user_id,follow_count,fans_count,gender,birthday,location,level,post_count,registration_time,properties,mileage,post,cars,koubei_post,gas_mileage,car_friend_zone,label,car_like
0,yryihgddsg,0,1,man,NaT,浙江 杭州,1,0篇精华帖/0篇帖子,2017-11-08,普通用户,1870,NaN,NaN,"[{'title': '2018款极光骚红色', 'url': '//k.autohome....",NaN,NaN,1,驭胜S330
1,淡淡可,2,1,man,NaT,山东 济宁,1,0篇精华帖/0篇帖子,2017-11-10,普通用户,590,NaN,NaN,"[{'title': '比邻全国最低价提车', 'url': '//k.autohome.c...",NaN,NaN,1,博越

In [19]:
from utils import extract_excellent_post_count
from utils import extract_post_count

merge_df["excellent_post_count"] = merge_df.apply (lambda row: extract_excellent_post_count(row),axis=1)
merge_df["all_post_count"] = merge_df.apply (lambda row: extract_post_count(row),axis=1)
merge_df.drop(columns='post_count', inplace=True)
merge_df.head(2)

,user_id,follow_count,fans_count,gender,birthday,location,level,registration_time,properties,mileage,post,cars,koubei_post,gas_mileage,car_friend_zone,label,car_like,excellent_post_count,all_post_count
0,yryihgddsg,0,1,man,NaT,浙江 杭州,1,2017-11-08,普通用户,1870,NaN,NaN,"[{'title': '2018款极光骚红色', 'url': '//k.autohome....",NaN,NaN,1,驭胜S330,0,0
1,淡淡可,2,1,man,NaT,山东 济宁,1,2017-11-10,普通用户,590,NaN,NaN,"[{'title': '比邻全国最低价提车', 'url': '//k.autohome.c...",NaN,NaN,1,博越,0,0

In [20]:
merge_df.to_excel("data/luhu_all_user_1.xlsx",encoding='utf-8')

In [21]:
merge_df.keys()

Index(['user_id', 'follow_count', 'fans_count', 'gender', 'birthday',
       'location', 'level', 'registration_time', 'properties', 'mileage',
       'post', 'cars', 'koubei_post', 'gas_mileage', 'car_friend_zone',
       'label', 'car_like', 'excellent_post_count', 'all_post_count'],
      dtype='object')