In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.svm import SVC

from sklearn.metrics import confusion_matrix, classification_report
import matplotlib
from sklearn.metrics import roc_curve, auc
import seaborn as sns

import lightgbm as lgb
import utils

#supression warnings
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

### Load data

In [2]:
data_path = './data/jlr_all_user_processed.xlsx'
df = pd.read_excel(data_path)
df.head(600)

,user_id,follow_count,fans_count,gender,birthday,location,level,registration_time,properties,mileage,...,car_friend_zone,label,car_like,excellent_post_count,all_post_count,regis_year,regis_month,regis_day,date,date_delta
0,oden123,0,0,2,NaT,1,1,2018-03-26,1,4430,...,NaN,True,1,0,0,2018,3,3,2018-03-26,4522
1,生活1934626,2,4,2,NaT,2,1,2012-05-07,1,4270,...,"[{'名称': '汽车之家甘肃论坛车友会', '人数': 672, '创建时间': '201...",True,2,0,0,2012,5,5,2012-05-07,2373
2,wangzi1125,0,1,2,NaT,3,1,2017-06-18,1,2090,...,NaN,True,3,0,1,2017,6,6,2017-06-18,4241
3,房产专家谢广财,3,2,2,NaT,4,1,2014-02-27,1,1120,...,NaN,True,4,0,0,2014,2,2,2014-02-27,3034
4,南宫晗笑,4,5,2,NaT,5,1,2017-07-03,1,740,...,NaN,True,1,0,14,2017,7,7,2017-07-03,4256
5,欧佳数码科技,91,75,2,NaT,6,1,2014-03-18,1,2600,...,"[{'名称': '山东捷豹车友会', '人数': 98, '创建时间': '2017-09-...",True,5,0,23,2014,3,3,2014-03-18,3053
6,阿benjamin,0,4,2,NaT,7,1,2017-02-18,1,2780,...,NaN,True,6,0,0,2017,2,2,2017-02-18,4121
7,峰子88520,9,15,2,NaT,8,1,2013-10-17,1,1460,...,NaN,True,5,0,9,2013,10,10,2013-10-17,2901
8,Zhou19930228,4,9,2,NaT,9,1,2017-10-07,1,3260,...,NaN,True,5,0,4,2017,10,10,2017-10-07,4352
9,九品小草民,0,4,2,NaT,10,1,2016-07-21,1,2920,...,NaN,True,1,0,0,2016,7,7,2016-07-21,3909
10,一只小豹子,8,33,2,1994-10-08,11,1,2017-12-05,1,5000,...,"[{'名称': '捷豹车友会', '人数': 100, '创建时间': '2017-12-2...",True,5,0,1,2017,12,12,2017-12-05,4411
11,买得起的都看不上,0,1,2,NaT,12,1,2017-10-31,1,240,...,NaN,True,7,0,1,2017,10,10,2017-10-31,4376
12,胖蜀黍Zzzzz,11,11,2,NaT,13,1,2015-09-09,1,3300,...,NaN,True,5,0,7,2015,9,9,2015-09-09,3593
13,女王大人的王子,1,1,2,NaT,14,1,2016-05-21,1,4700,...,NaN,True,8,0,0,2016,5,5,2016-05-21,3848
14,黄宗华,1,2,2,1979-10-13,7,1,2011-03-08,1,2810,...,NaN,True,5,0,0,2011,3,3,2011-03-08,1947
15,Skytianze,24,31,2,NaT,15,2,2013-09-06,1,8570,...,NaN,True,9,1,26,2013,9,9,2013-09-06,2860
16,致命诱惑009,0,2,2,NaT,10,1,2013-04-13,1,560,...,NaN,True,10,0,1,2013,4,4,2013-04-13,2714
17,5188888888888,0,1,2,1995-10-23,16,1,2016-02-25,1,2060,...,NaN,True,11,0,0,2016,2,2,2016-02-25,3762
18,老夫聊发中年狂,0,1,2,NaT,5,1,2017-11-10,1,1810,...,NaN,True,3,0,0,2017,11,11,2017-11-10,4386
19,忆晋,0,5,2,NaT,17,1,2016-06-25,1,3470,...,NaN,True,5,0,0,2016,6,6,2016-06-25,3883
20,路人懵懂,1,2,2,NaT,18,1,2017-12-04,1,1110,...,NaN,True,12,0,3,2017,12,12,2017-12-04,4410
21,dines123,1,8,2,NaT,15,1,2017-11-14,1,820,...,NaN,True,5,0,2,2017,11,11,2017-11-14,4390
22,俞健的俞,2,1,2,1994-10-18,19,1,2015-08-17,1,5290,...,NaN,True,13,0,0,2015,8,8,2015-08-17,3570
23,仁川的车库,0,3,2,NaT,20,1,2016-01-16,1,2860,...,NaN,True,14,0,2,2016,1,1,2016-01-16,3722
24,福硕光电,0,0,2,NaT,21,1,2017-10-31,1,1800,...,NaN,True,15,0,0,2017,10,10,2017-10-31,4376
25,brucebee1984,4,8,2,NaT,4,1,2014-02-13,1,670,...,NaN,True,16,0,3,2014,2,2,2014-02-13,3020
26,善良的猴子425,3,3,2,NaT,5,2,2017-10-06,1,12520,...,"[{'名称': '北京捷豹俱乐部（BJC）', '人数': 100, '创建时间': '20...",True,17,0,6,2017,10,10,2017-10-06,4351
27,文桢,3,4,2,NaT,22,1,2018-02-13,1,2600,...,NaN,True,1,0,6,2018,2,2,2018-02-13,4481
28,影过留香,46,90,2,1987-12-01,23,3,2010-12-21,1,32010,...,NaN,True,5,4,24,2010,12,12,2010-12-21,1870
29,A0平安信贷,2,10,2,NaT,7,1,2017-03-18,1,3430,...,NaN,True,5,0,0,2017,3,3,2017-03-18,4149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,jmlf007,0,25,2,NaT,4,1,2017-06-21,1,1730,...,NaN,False,94,0,57,2017,6,6,2017-06-21,4244
449,心灵旅行1224,0,0,2,NaT,12,1,2017-07-03,1,2810,...,NaN,False,35,0,0,2017,7,7,2017-07-03,4256
450,伟小宝777,0,0,2,NaT,48,1,2018-03-01,1,1800,...,NaN,False,54,0,0,2018,3,3,2018-03-01,4497
451,小宇222,7,11,2,NaT,87,1,2015-08-12,1,5610,...,"[{'名称': '捷豹XEL车主用车改装分享', '人数': 500, '创建时间': '2...",False,153,0,3,2015,8,8,2015-08-12,3565
452,Bibibibibi1995,0,1,2,NaT,4,1,2018-04-10,1,610,...,NaN,False,35,0,0,2018,4,4,2018-04-10,4537
453,1235658,0,0,2,NaT,5,1,2017-09-12,1,1870,...,NaN,False,23,0,0,2017,9,9,2017-09-12,4327
454,郝丶壮壮,4,54,2,NaT,5,2,2012-11-11,1,9550,...,NaN,False,83,0,27,2012,11,11,2012-11-11,2561
455,ldlwd,0,0,2,NaT,36,1,2018-05-22,1,2100,...,NaN,False,23,0,0,2018,5,5,2018-05-22,4579
458,爱上豪车的男人,0,0,2,NaT,136,1,2018-06-15,1,150,...,NaN,False,28,0,0,2018,6,6,2018-06-15,4603
459,m18295212009,2,0,2,NaT,96,1,2017-06-06,1,1700,...,NaN,False,57,0,0,2017,6,6,2017-06-06,4229
460,伯纳乌119,11,6,2,NaT,32,1,2015-06-22,1,3480,...,NaN,False,57,0,0,2015,6,6,2015-06-22,3514
461,傻洁,5,2,2,NaT,12,1,2017-03-28,1,5860,...,"[{'名称': '福建捷豹XEL讨论会', '人数': 15, '创建时间': '2018-...",False,79,0,0,2017,3,3,2017-03-28,4159
462,我练功发自真心111,2,0,2,NaT,11,1,2017-08-20,1,3090,...,NaN,False,94,0,0,2017,8,8,2017-08-20,4304
463,海南好人,0,2,2,NaT,137,1,2016-10-27,1,850,...,NaN,False,1,0,3,2016,10,10,2016-10-27,4007
464,Cpxin,0,1,2,NaT,138,1,2017-07-31,1,2010,...,NaN,False,106,0,0,2017,7,7,2017-07-31,4284
465,suporxy,12,3,2,1981-01-01,53,1,2015-02-02,1,6610,...,"[{'名称': '捷豹尊享版', '人数': 25, '创建时间': '2018-02-05...",False,154,0,8,2015,2,2,2015-02-02,3374
466,班察巴那_沪,0,3,2,NaT,32,1,2015-02-01,1,960,...,NaN,False,143,0,0,2015,2,2,2015-02-01,3373
467,陈展鸿h,13,23,2,NaT,4,2,2017-03-31,1,8150,...,"[{'名称': '深圳捷豹XEL车友群', '人数': 100, '创建时间': '2018...",False,23,0,9,2017,3,3,2017-03-31,4162
468,888888825,1,2,2,NaT,100,1,2014-06-24,1,2480,...,NaN,False,145,0,0,2014,6,6,2014-06-24,3151
469,捷克he,0,0,2,NaT,20,1,2018-01-17,1,680,...,NaN,False,45,0,0,2018,1,1,2018-01-17,4454
470,秋色梯田,1,3,2,NaT,120,1,2016-11-21,1,1300,...,NaN,False,25,0,10,2016,11,11,2016-11-21,4032
471,5841个没用的人,6,5,2,NaT,56,1,2016-04-29,1,1710,...,NaN,False,155,0,0,2016,4,4,2016-04-29,3826
472,roadstar1984,2,6,2,1984-12-26,23,1,2011-05-18,1,3960,...,NaN,False,156,0,13,2011,5,5,2011-05-18,2018
473,huafans01191568718,1,4,2,NaT,38,1,2016-08-21,1,1860,...,"[{'名称': '捷豹XEL车主用车改装分享', '人数': 500, '创建时间': '2...",False,157,0,0,2016,8,8,2016-08-21,3940
474,MarK0614,1,3,2,NaT,32,1,2015-12-24,1,1440,...,NaN,False,158,0,0,2015,12,12,2015-12-24,3699
475,WZK玄武岩,0,0,2,NaT,23,1,2017-08-05,1,2470,...,NaN,False,53,0,0,2017,8,8,2017-08-05,4289
477,楼大帅,1,34,2,NaT,32,3,2017-04-09,1,24320,...,NaN,False,81,0,11,2017,4,4,2017-04-09,4171
479,汽车大灯酷改哥,10,9,2,NaT,56,1,2016-03-30,1,560,...,NaN,False,31,0,1,2016,3,3,2016-03-30,3796
481,针的妈妈,0,0,2,NaT,139,1,2017-08-18,1,2320,...,NaN,False,23,0,0,2017,8,8,2017-08-18,4302
482,MRright温然,9,2,2,NaT,35,1,2017-02-19,1,1060,...,NaN,False,75,0,0,2017,2,2,2017-02-19,4122

In [3]:
# df.keys(), df.dtypes

### Data choosing  
we choose some features to build the machine learning model

In [4]:
x = df.drop(columns=[
                      'user_id',
#                      'follow_count',
#                      'fans_count', 
                     'gender', 
                      'birthday',
#                      'location',
                     'level',
                      'registration_time',
                     'properties',
#                      'mileage',
                      'post',
                      'cars',
                      'koubei_post',
                      'gas_mileage',
                      'car_friend_zone',
                      'label',
#                      'car_like', 
                     'excellent_post_count',
                     'all_post_count',
                      'regis_year',
                      'regis_month',
                      'regis_day', 
                      'date',
#                      'date_delta'
                     ])
x.head(2)

   follow_count  fans_count  location  mileage  car_like  date_delta
0             0           0         1     4430         1        4522
1             2           4         2     4270         2        2373

In [5]:
y = df['label'].astype('uint8')
utils.exploreCat(df, 'label')

In [6]:
# dataset size
_x, _y = np.array(x).astype('int'), np.array(y).astype('int')
_x.shape, _y.shape

((5555, 6), (5555,))

In [8]:
sum(_y==0),sum(_y==1)

(4830, 725)

### Split dataset into train/validation/test set
train:validation:test = 8:1:1

In [ ]:
# x_train, x_test, y_train, y_test = train_test_split(_x, _y, test_size=0.2,  random_state = 40)
# x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=0.5,  random_state = 40)

# print(x_train.shape, x_val.shape, x_test.shape)

In [ ]:
# # positive/negative propotion in dataset
# print("In train set, positive : negative = {}:{}=1:{} ".format(sum(y_train==1),sum(y_train==0), sum(y_train==0)/sum(y_train==1)))
# print("In validation set, positive : negative = {}:{}=1:{}".format(sum(y_val==1),sum(y_val==0), sum(y_val==0)/sum(y_val==1)))
# print("In test set, positive : negative = {}:{}=1:{}".format(sum(y_test==1),sum(y_test==0),sum(y_test==0)/sum(y_test==1)))

### Create KFolder dataset

In [ ]:
from scipy import interp
from itertools import cycle

from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score, roc_curve, auc, classification_report
import time
import random
random.seed(42)

In [ ]:
def kfolder_plot(train, ytrain, model):
    """
    Args:
    - train: dataframe
    """
    kf = StratifiedKFold(n_splits=5, random_state=42, shuffle=True)
    scores = []
    mean_tpr = 0.0
    mean_fpr = np.linspace(0,1,100)
    exe_time = []
    bst_models = {}
    y_preds = {}
    
    colors = cycle(['cyan', 'orange', 'seagreen', 'yellow', 'blue'])
    lw = 2
    
    i = 0
    for(train_idx, test_idx), color in zip(kf.split(train, ytrain), colors):
#         print(train_idx, test_idx)
        x_train, x_test = train.iloc[train_idx], train.iloc[test_idx]
        y_train, y_test = ytrain.iloc[train_idx], ytrain.iloc[test_idx]
#         print(test_idx)
        start = time.time()
        
        bst_model, predictions = model(x_train, x_test, y_train)
        y_preds[i] = predictions
        bst_models[i] = bst_model
        
        end = time.time()
        exe_time.append(round(end-start,3))
        
        scores.append(roc_auc_score(y_test.astype(float), predictions))
        fpr, tpr, thresholds = roc_curve(y_test, predictions)
        mean_tpr += interp(mean_fpr, fpr, tpr)
        mean_tpr[0] = 0.0
        roc_auc = auc(fpr, tpr)
#         print("roc_auc: ", roc_auc)
        plt.plot(fpr, tpr, lw=lw, color=color, label='ROC fold %d (area=%0.2f)'%(i, roc_auc))
        i += 1
#         print(classification_report(y_test, predictions>=0.5))

    plt.plot([0, 1], [0, 1], linestyle='--', lw=lw, color='k', label='ROC baseline')
    mean_tpr /= kf.get_n_splits(train, ytrain)
    mean_tpr[-1] = 1.0
    mean_auc = auc(mean_fpr, mean_tpr)
    plt.plot(mean_fpr, mean_tpr, color='r', linestyle='--', label='Mean ROC(are a = %0.2f)'%mean_auc, lw=lw)
    
    plt.xlim([-0.05, 1.05])
    plt.ylim([-0.05, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('ROC KFolder')
    plt.legend(loc='lower right')
    plt.show()
    
    print('mean scores: ', np.mean(scores))
    print('mean model process time: ', np.mean(exe_time))
    return scores, np.mean(scores), np.mean(exe_time), bst_models, y_preds

In [ ]:
# from sklearn.model_selection import GridSearchCV
import lightgbm as lgb
def lightgbm_model(x_train, x_test, y_train):
    feature_name = list(x.keys())
    categorical_feature = [
#                            'gender',
                           'location',
    #                        'level', 
    #                        'properties', 
                           'car_like',
                         #'regis_year', 'regis_month', 'regis_day',
                          ]
    x_train = lgb.Dataset(x_train.values,
                          y_train.values,
                          feature_name=feature_name,
                         categorical_feature=categorical_feature,)
    params = {
            'boosting_type': 'gbdt',  # np.random.choice(['dart', 'gbdt']),
            'objective': 'binary',
            'metric': ['binary_logloss', 'auc'], 

            'learning_rate': 0.10,

            'num_leaves': 13, #np.random.randint(10,14),
            'max_depth': 9, #np.random.randint(7,10),
            'min_data_in_leaf': 30, # int(2 ** (np.random.rand()*2 + 5)),

            'feature_fraction': 0.8, #np.random.rand()*0.35+0.65,
            'bagging_fraction': 0.9, #np.random.rand()*0.35+0.65,
            'bagging_freq': 1,

            'lambda_l1': 11, #10 ** (np.random.rand() * 4),
            'lambda_l2': 10000, #10 ** (np.random.rand() * 3 + 2),
            'min_gain_to_split': 0.0,
            'min_sum_hessian_in_leaf': 0.1,

            'num_threads': 16,
            'verbose': 0,
            'is_training_metric': 'True'
        }
#     print("Hyper-parameters: ")
#     print(params)
    model = lgb.train(params, x_train, num_boost_round=3000)
    predictions = model.predict(x_test)
    return model, predictions

In [ ]:
dct_scores = {}
mean_score = {}
mean_time = {}
models = {}
y_preds = {}

In [ ]:
import time
dct_scores['lgbm'], mean_score['lgbm'], mean_time['lgbm'], bst_models, y_preds = kfolder_plot(x, y, lightgbm_model)

In [ ]:
train_idxs = []
test_idxs = []
kf = StratifiedKFold(n_splits=5, random_state=42,shuffle=True)
for (train_idx, test_idx) in kf.split(x, y):
    train_idxs.append(train_idx)
    test_idxs.append(test_idx)
#     print(test_idx)

In [ ]:
# for i in range(5):
# # gbm = bst_models[i]
# #     x_test = x.iloc[test_idxs[i]]
#     y_test = y.iloc[test_idxs[i]]
#     print(sum(y_test==1),sum(y_test==0))

In [ ]:
# # load model to predict
# # print('Load model to predict')
# # gbm = lgb.Booster(model_file=model_save_path)
# i = 4
# gbm = bst_models[i]
# x_test = x.iloc[test_idxs[i]]
# y_test = y.iloc[test_idxs[i]]
# print(test_idxs[i])

# # y_pred = gbm.predict(x_test)
# y_pred = y_preds[i]

# # y_pred = y_pred >= 0.5
# # print(y_pred[:10])

# from sklearn.metrics import accuracy_score, confusion_matrix
# # print(accuracy_score(y_test, y_pred))
# print("num_y_pred_1:num_y_pred_0 ={}:{} ".format(sum(y_pred>=0.5), sum(y_pred<0.5)))
# _y_pred = y_pred >= 0.5
# # print(confusion_matrix(y_true=y_test, y_pred=y_pred))
# # print(classification_report(y_true=y_test, y_pred=_y_pred))

# # AUC 
# fpr, tpr, _ = roc_curve(y_test, y_pred)
# roc_auc = auc(fpr, tpr)
# print("roc_auc: ",roc_auc)

# # plot ROC
# # plt.figure()
# # plt.rcParams['savefig.dpi'] = 50 #图片像素
# # plt.rcParams['figure.dpi'] = 100 #分辨率
# # lw = 2
# # plt.plot(fpr, tpr, color='darkorange',
# #          lw=lw, label='ROC curve (area = %0.2f)' % roc_auc)
# # plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
# # # plt.xlim([0.0, 1.0])
# # # plt.ylim([0.0, 1.05])
# # plt.xlim([-0.05, 1.05])
# # plt.ylim([-0.05, 1.05])
# # plt.xlabel('False Positive Rate')
# # plt.ylabel('True Positive Rate')
# # plt.title('ROC')
# # plt.legend(loc="lower right")
# # plt.show()

# feature_importance = pd.DataFrame({'name':gbm.feature_name(), 'importance':gbm.feature_importance()}).sort_values(by='importance', ascending=False)
# feature_importance.to_csv('./feat_importance.csv', index=False)
# # fig = matplotlib.pyplot.gcf()
# # fig.set_size_inches(15, 5)
# plt.rcParams['savefig.dpi'] = 50 #图片像素
# plt.rcParams['figure.dpi'] = 100 #分辨率
# feature_importance.plot(x='name', y='importance',kind='barh')
# # plt.savefig('plot123_2.png', dpi=300) 
# plt.show()

In [ ]:
# load model to predict
# print('Load model to predict')
# gbm = lgb.Booster(model_file=model_save_path)
for i in range(5):
    gbm = bst_models[i]
    x_test = x.iloc[test_idxs[i]]
    y_test = y.iloc[test_idxs[i]]
    print(test_idxs[i])

    # y_pred = gbm.predict(x_test)
    y_pred = y_preds[i]

    # y_pred = y_pred >= 0.5
    # print(y_pred[:10])

    from sklearn.metrics import accuracy_score, confusion_matrix
    # print(accuracy_score(y_test, y_pred))
    print("num_y_pred_1:num_y_pred_0 ={}:{} ".format(sum(y_pred>=0.5), sum(y_pred<0.5)))
    _y_pred = y_pred >= 0.5
    # print(confusion_matrix(y_true=y_test, y_pred=y_pred))
    print(classification_report(y_true=y_test, y_pred=_y_pred))

    # AUC 
    fpr, tpr, _ = roc_curve(y_test, y_pred)
    roc_auc = auc(fpr, tpr)
    print("roc_auc: ",roc_auc)

    feature_importance = pd.DataFrame({'name':gbm.feature_name(), 'importance':gbm.feature_importance()}).sort_values(by='importance', ascending=False)
    feature_importance.to_csv('./feat_importance.csv', index=False)
    # fig = matplotlib.pyplot.gcf()
    # fig.set_size_inches(15, 5)
    plt.rcParams['savefig.dpi'] = 50 #图片像素
    plt.rcParams['figure.dpi'] = 100 #分辨率
    feature_importance.plot(x='name', y='importance',kind='barh')
    # plt.savefig('plot123_2.png', dpi=300) 
    plt.show()

### SVM

In [ ]:
clf = SVC(C=0.8, kernel='rbf', class_weight='balanced')

In [ ]:
clf.fit(x_train, y_train)

In [ ]:
pred = clf.predict(x_test)

In [ ]:
print(classification_report(y_true=y_test, y_pred=pred))

### Build lightgbm model and train with above dataset

In [ ]:
# Lightgbm dataset construction

# train_data = lgb.Dataset(x_train, label=y_train)
# val_data = lgb.Dataset(x_val, label=y_val)
# test_data = lgb.Dataset(x_test, label = y_test)

feature_name = list(x.keys())
categorical_feature = [
#                        'gender',
                       'location',
#                        'level', 
#                        'properties', 
                       'car_like',
                     #'regis_year', 'regis_month', 'regis_day',
                                            ]
train_data = lgb.Dataset(x_train, 
                         label=y_train,
                         feature_name=feature_name,
                         categorical_feature=categorical_feature,
                        )
val_data = lgb.Dataset(x_val, 
                       label=y_val,
                       feature_name=feature_name,
                       categorical_feature=categorical_feature,
                      )
test_data = lgb.Dataset(x_test, 
                        label = y_test,
                        feature_name=feature_name,
                        categorical_feature=categorical_feature,
                       )
# feature_name, categorical_feature

#### Setting parameters

In [ ]:
# para searching
params = {
    'boosting_type': 'gbdt',  # np.random.choice(['dart', 'gbdt']),
    'objective': 'binary',
    'metric': ['binary_logloss', 'auc'], 
    
    'learning_rate': 0.30,
    
    'num_leaves': np.random.randint(15,20),
    'max_depth': np.random.randint(5,7),
    'min_data_in_leaf': int(2 ** (np.random.rand()*2 + 5)),
    
    'feature_fraction': np.random.rand()*0.35+0.65,
    'bagging_fraction': np.random.rand()*0.35+0.65,
    'bagging_freq': 1,
    
    'lambda_l1': 10 ** (np.random.rand() * 4),
    'lambda_l2': 10 ** (np.random.rand() * 3 + 2),
    'min_gain_to_split': 0.0,
    'min_sum_hessian_in_leaf': 0.1,
    
    'num_threads': 16,
    'verbose': 0,
    'is_training_metric': 'True'
}
print('Hyper-parameters:')
print(params)

In [ ]:
# params={'boosting_type': 'gbdt',
#         'objective': 'binary',
#         'metric': ['binary_logloss', 'auc'],
#         'learning_rate': 0.35,
#         'num_leaves': 10,
#         'max_depth': 9,
#         'min_data_in_leaf': 100,
#         'feature_fraction': 0.8815622868115178,
#         'bagging_fraction': 0.8390135637666467, 
#         'bagging_freq': 1, 
#         'lambda_l1': 31.388095945215674,
#         'lambda_l2': 9057.459915710713,
#         'min_gain_to_split': 0.0,
#         'min_sum_hessian_in_leaf': 0.1, 
#         'num_threads': 16, 'verbose': 0,
#         'is_training_metric': 'True'}

In [ ]:
# {'boosting_type': 'gbdt', 'objective': 'binary', 'metric': ['binary_logloss', 'auc'], 'learning_rate': 0.35, 'num_leaves': 16, 'max_depth': 7, 'min_data_in_leaf': 45, 'feature_fraction': 0.7185404231822985, 'bagging_fraction': 0.7205070834554599, 'bagging_freq': 1, 'lambda_l1': 2.3982232376696975, 'lambda_l2': 23817.54011963604, 'min_gain_to_split': 0.0, 'min_sum_hessian_in_leaf': 0.1, 'num_threads': 16, 'verbose': 0, 'is_training_metric': 'True'}

#### Training

In [ ]:
evals_result = {}  # dict to store evaluation results of all the items in `valid_sets`

gbm = lgb.train(params, 
                train_data, 
                num_boost_round=10000, 
                valid_sets=[train_data, val_data], 
                valid_names = ['train', 'valid'], 
                evals_result=evals_result, 
                early_stopping_rounds=3000, 
                verbose_eval=100)

In [ ]:
train_auc_log = evals_result['train']['binary_logloss']
# type(train_auc_log)
# len(train_auc_log)
val_auc_log = evals_result['valid']['binary_logloss']

# plot training logs
plt.figure()
plt.rcParams['savefig.dpi'] = 50 #图片像素
plt.rcParams['figure.dpi'] = 100 #分辨率
lw = 2
plt.plot(range(len(train_auc_log)),train_auc_log, color='darkorange',
         lw=lw, label="train's binary_logloss")
plt.plot(range(len(val_auc_log)),val_auc_log, color='blue',
         lw=lw, label="valid's binary_logloss")
# plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
# plt.xlim([0.0, 1.0])
# plt.ylim([0.0, 1.05])
plt.xlabel('Boost round')
plt.ylabel("Valid's binary_logloss")
plt.title('ROC')
plt.legend(loc="lower right")
plt.show()

In [ ]:
# save best round results to csv
bst_round = np.argmax(evals_result['valid']['auc'])
trn_auc = evals_result['train']['auc'][bst_round]
trn_loss = evals_result['train']['binary_logloss'][bst_round]
val_auc = evals_result['valid']['auc'][bst_round]
val_loss = evals_result['valid']['binary_logloss'][bst_round]

In [ ]:
print('Best Round: %d'%bst_round)
print('Training loss: %.5f, Validation loss: %.5f'%(trn_loss, val_loss))
print('Training AUC : %.5f, Validation AUC : %.5f'%(trn_auc, val_auc))

# save model to file
model_save_path = './models/trn_auc' + str(trn_auc)[:5] + '_' + 'val_auc' + str(val_auc)[:5] + '.txt'
print('Save model to file: {}'.format(model_save_path))
gbm.save_model(model_save_path)

In [ ]:
feature_importance = pd.DataFrame({'name':gbm.feature_name(), 'importance':gbm.feature_importance()}).sort_values(by='importance', ascending=False)
feature_importance.to_csv('./feat_importance.csv', index=False)
# fig = matplotlib.pyplot.gcf()
# fig.set_size_inches(15, 5)
plt.rcParams['savefig.dpi'] = 50 #图片像素
plt.rcParams['figure.dpi'] = 200 #分辨率
feature_importance.plot(x='name', y='importance',kind='barh')
# plt.savefig('plot123_2.png', dpi=300) 
plt.show()

#### Using best model for Testing

In [ ]:
# load model to predict
print('Load model to predict')
gbm = lgb.Booster(model_file=model_save_path)
                  
y_pred = gbm.predict(x_test)
# print(y_pred[:10])

y_pred = y_pred >= 0.5
# print(y_pred[:10])

from sklearn.metrics import accuracy_score, confusion_matrix
# print(accuracy_score(y_test, y_pred))
print("num_y_pred_1:num_y_pred_0 ={}:{} ".format(sum(y_pred==1), sum(y_pred==0)))
print(classification_report(y_true=y_test, y_pred=y_pred))

# AUC 
fpr, tpr,_ = roc_curve(y_test, y_pred)
roc_auc = auc(fpr, tpr)
print("roc_auc: ",roc_auc)

# plot ROC
plt.figure()
plt.rcParams['savefig.dpi'] = 50 #图片像素
plt.rcParams['figure.dpi'] = 100 #分辨率
lw = 2
plt.plot(fpr, tpr, color='darkorange',
         lw=lw, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC')
plt.legend(loc="lower right")
plt.show()