In [3]:
from scipy import stats
import os
import pandas as pd # package for high-performance, easy-to-use data structures and data analysis
import numpy as np  # fundamental package for acientific computing with python
import matplotlib 
from matplotlib import pyplot as plt # for plotting
import seaborn as sns # for making plots with seaborn
color = sns.color_palette()
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot

from config import config as cfg
import utils

%matplotlib inline

In [4]:
# show all file in current folder
print(os.listdir("data/"))

['jiebao_all_user_processed.csv', '口碑 路虎 总.xlsx', 'luhu_comments.xlsx', '路虎口碑所有用户.xlsx', '.DS_Store', '路虎口碑用户.xlsx', '路虎车商城.xlsx', 'jiebao_all_user.xlsx', 'luhu_koubei_user.xlsx', '路虎口碑用户-1.xlsx', '捷豹车商城.xlsx', '路虎口碑评论人.xlsx', '~$捷豹口碑用户.xlsx', '捷豹口碑用户.xlsx', '路虎帖子评论人.xlsx', 'luhu_all_user.xlsx', 'luhu_comment_user.xlsx', '口碑 捷豹 评论.xlsx', 'jiebao_user_koubei.xlsx', '.ipynb_checkpoints', 'luhu_all_user_processed.xlsx', '路虎口碑评论人-1.xlsx', 'jiebao_all_user_processed.xlsx', '捷豹口碑评论人.xlsx', '口碑 路虎 评论.xlsx', '~$路虎口碑所有用户.xlsx', '口碑 捷豹 总 252.xlsx']

### user jiebao koubei

In [7]:
# read data(user info) into dataframe

table_path = "data/捷豹口碑用户.xlsx"
user_koubei = pd.read_excel(table_path)
# col_names = user_koubei.keys()
# print(user_koubei.dtypes)
print(user_koubei.shape)
user_koubei.head(1)

(250, 180)

,用户名,关注,粉丝,性别,生日,所在地,等级,帖子数,关注的车or爱车,注册时间,...,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179
0,oden123,0,0,man,NaN,江西 宜春,1,0篇精华帖/0篇帖子,关注的车：宝马5系,2018-03-26 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

we found that there are more columns than it should have(17).

In [1]:
# # remove wrong rows:

# indexs_notnull_col17 = user_koubei[user_koubei['Unnamed: 17'].notnull()].index.tolist()
# print("第18列非空的行（错误行）：", indexs_notnull_col17)

# print("删除错误行之前的表格大小： ", user_koubei.shape)
# user_koubei = user_koubei.drop(indexs_notnull_col17,axis=0)
# print("删除错误行之后的表格大小： "user_koubei.shape)

In [10]:
# clean dataframe: remove duplication， wrong rows and columns
clean_df(user_koubei)

Original shape:  (248, 180)
After removing duplication:  (248, 180)
After removing empty rows:  (248, 180)
After removing empty cols:  (248, 17)

In [11]:
# show missing value of columns 
user_koubei['label']=1
user_koubei.isnull().sum()

用户名           0
关注            0
粉丝            0
性别            0
生日          186
所在地           0
等级            0
帖子数           0
关注的车or爱车      0
注册时间          0
身份            0
里程值           0
帖子           65
他的车库         85
他的口碑          2
他的油耗        214
他的车友会       183
label         0
dtype: int64

### user jiebao comment

In [12]:
# read user table to dataframe
table_path = "data/捷豹口碑评论人.xlsx"
visitor_koubei = pd.read_excel(table_path)

col_names = visitor_koubei.keys()
print(visitor_koubei.shape)
print(visitor_koubei.dtypes)
visitor_koubei.head(2)

(4933, 17)
用户名                 object
关注                   int64
粉丝                   int64
性别                  object
生日          datetime64[ns]
所在地                 object
等级                   int64
帖子数                 object
关注的车or爱车            object
注册时间        datetime64[ns]
身份                  object
里程值                  int64
帖子                  object
他的车库                object
他的口碑                object
他的油耗                object
他的车友会               object
dtype: object

,用户名,关注,粉丝,性别,生日,所在地,等级,帖子数,关注的车or爱车,注册时间,身份,里程值,帖子,他的车库,他的口碑,他的油耗,他的车友会
0,wong19925555,0,0,man,NaT,四川 成都,1,0篇精华帖/0篇帖子,关注的车：远景SUV,2018-06-17,普通用户,110,[],[],[],[],[]
1,昆虫977,2,0,man,NaT,湖南 长沙,1,0篇精华帖/0篇帖子,关注的车：领克01,2018-06-11,普通用户,640,[],[],[],[],[]

In [19]:
# clean dataframe 
utils.clean_df(visitor_koubei)

Original shape:  (2733, 18)
After removing duplication:  (2733, 18)
After removing empty rows:  (2733, 18)
After removing empty cols:  (2733, 18)

In [20]:
# add label
visitor_koubei['label']=0

# save df
user_koubei.to_excel("data/jiebao_user_koubei.xlsx",encoding='utf-8')
user_koubei.isnull().sum()

用户名           0
关注            0
粉丝            0
性别            0
生日          186
所在地           0
等级            0
帖子数           0
关注的车or爱车      0
注册时间          0
身份            0
里程值           0
帖子           65
他的车库         85
他的口碑          2
他的油耗        214
他的车友会       183
label         0
dtype: int64

### merge 2 tables

In [21]:
print(user_koubei.shape)
print(visitor_koubei.shape)

(248, 18)
(2733, 18)

In [25]:
# merge dataframe
merge_df = user_koubei.append(visitor_koubei) # (5181, 17)
print(merge_df.shape)

merge_df = merge_df.drop_duplicates()
print(merge_df.shape) #(2981, 17)

(2981, 18)
(2981, 18)

In [26]:
utils.missing_data_check(merge_df)

dataset size:  (2981, 18)
          total  missing_percentage
他的油耗       2808           94.196578
生日         2579           86.514592
他的车友会      2489           83.495471
他的口碑       2154           72.257632
帖子         2114           70.915800
他的车库       2003           67.192217
label         0            0.000000
所在地           0            0.000000
关注            0            0.000000
粉丝            0            0.000000
性别            0            0.000000
关注的车or爱车      0            0.000000
等级            0            0.000000
帖子数           0            0.000000
注册时间          0            0.000000
身份            0            0.000000
里程值           0            0.000000
用户名           0            0.000000

In [27]:
print(merge_df.keys())
new_columns = cfg.user_COLUMNS
print(len(new_columns))
new_columns

Index(['用户名', '关注', '粉丝', '性别', '生日', '所在地', '等级', '帖子数', '关注的车or爱车', '注册时间',
       '身份', '里程值', '帖子', '他的车库', '他的口碑', '他的油耗', '他的车友会', 'label'],
      dtype='object')
18

['user_id',
 'follow_count',
 'fans_count',
 'gender',
 'birthday',
 'location',
 'level',
 'post_count',
 'car_liked',
 'registration_time',
 'properties',
 'mileage',
 'post',
 'cars',
 'koubei_post',
 'gas_mileage',
 'car_friend_zone',
 'label']

In [29]:
merge_df.columns = new_columns
merge_df.head(1)

,user_id,follow_count,fans_count,gender,birthday,location,level,post_count,car_liked,registration_time,properties,mileage,post,cars,koubei_post,gas_mileage,car_friend_zone,label
0,oden123,0,0,man,NaN,江西 宜春,1,0篇精华帖/0篇帖子,关注的车：宝马5系,2018-03-26,普通用户,4430,NaN,['捷豹 捷豹XFL 2018款 XFL 2.0T 200PS 精英版'],"[{'title': '敲黑板了！2018款xfl精英版2个月的使用感受，要考的', 'ur...","[{'车型': '捷豹 捷豹XFL 2018款 XFL 2.0T 200PS 精英版', '...",NaN,1

#### car_liked

In [30]:
from utils import extract_car_info
merge_df["car_like"] = merge_df.apply(lambda row:extract_car_info(row),axis=1)
merge_df.drop(columns='car_liked', inplace=True)
merge_df["car_like"][:5]

0     宝马5系
1    奥迪A6L
2     帝豪GS
3    比亚迪S7
4     宝马5系
Name: car_like, dtype: object

#### post 帖子

In [31]:
from utils import extract_excellent_post_count
from utils import extract_post_count
merge_df["excellent_post_count"]=merge_df.apply (lambda row: extract_excellent_post_count(row),axis=1)
merge_df["all_post_count"]=merge_df.apply (lambda row: extract_post_count(row),axis=1)
merge_df.drop(columns='post_count', inplace=True)
merge_df.head(2)

,user_id,follow_count,fans_count,gender,birthday,location,level,registration_time,properties,mileage,post,cars,koubei_post,gas_mileage,car_friend_zone,label,car_like,excellent_post_count,all_post_count
0,oden123,0,0,man,NaN,江西 宜春,1,2018-03-26,普通用户,4430,NaN,['捷豹 捷豹XFL 2018款 XFL 2.0T 200PS 精英版'],"[{'title': '敲黑板了！2018款xfl精英版2个月的使用感受，要考的', 'ur...","[{'车型': '捷豹 捷豹XFL 2018款 XFL 2.0T 200PS 精英版', '...",NaN,1,宝马5系,0,0
1,生活1934626,2,4,man,NaN,甘肃 白银,1,2012-05-07,普通用户,4270,NaN,NaN,"[{'title': '外型好看，动力好', 'url': '//k.autohome.co...","[{'车型': '捷豹 捷豹XFL 2018款 XFL 2.0T 250PS 豪华版', '...","[{'名称': '汽车之家甘肃论坛车友会', '人数': 672, '创建时间': '201...",1,奥迪A6L,0,0

In [32]:
merge_df.drop_duplicates(inplace=True)
merge_df.shape

(2981, 19)

In [34]:
merge_df.to_excel("data/jiebao_all_user_0.xlsx",encoding='utf-8')

###